@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --redish-orange: #F87070;
  --neon-green: #70F3F8;
  --light-purple: #D881F8;
  --light-gray: #D7E0FF;
  --white: #ffffff;
  --off-white: #EFF1FA;
  --darkish-black: #1E213F;
  --darker-black: #161932;
  --gray: #979797;
  --gray-BOX-SHADOW: #7b84a320;
  --darkish-black-opacity: #16193218;
  --selected-color: #F87070;
  --font-family: "Kumbh Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a, a:visited {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  overflow: hidden;
  box-sizing: border-box;
}
@media screen and (max-width: 650px) {
  body {
    overflow-y: auto;
  }
}
@media screen and (max-height: 645px) {
  body {
    overflow-y: auto;
  }
}

.background {
  height: 100vh;
  width: 100vw;
  background-color: var(--darkish-black);
  position: relative;
}
@media screen and (max-width: 650px) {
  .background {
    width: 100%;
  }
}
@media screen and (max-height: 645px) {
  .background {
    padding: 3rem;
    height: 100%;
  }
}

.counter {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter__main {
  height: 69.6rem;
  width: 41rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 650px) {
  .counter__main {
    height: 58.7rem;
    width: 32.7rem;
  }
}
.counter__main-headline {
  height: 3.2rem;
  width: 15.6rem;
}
@media screen and (max-width: 650px) {
  .counter__main-headline {
    height: 2.4rem;
    width: 11.7rem;
  }
}
.counter__main-headline img {
  height: 100%;
  width: 100%;
}
.counter__main-choices {
  height: 6.3rem;
  width: 37.3rem;
  border-radius: 100rem;
  background-color: var(--darker-black);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 650px) {
  .counter__main-choices {
    width: 32.7rem;
  }
}
.counter__main-choices-label {
  height: 4.8rem;
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 100rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: lowercase;
  color: var(--light-gray);
  opacity: 0.4;
  transition: all 0.2s ease-in;
}
@media screen and (max-width: 650px) {
  .counter__main-choices-label {
    width: 10.4rem;
    font-size: 1.2rem;
  }
}
.counter__main-choices-selection {
  display: none;
}
.counter__main-choices-selection:checked + .counter__main-choices-label {
  background-color: var(--selected-color);
  color: var(--darker-black);
  opacity: 1;
}
.counter__main-countdown {
  height: 41rem;
  width: 41rem;
  position: relative;
}
@media screen and (max-width: 650px) {
  .counter__main-countdown {
    height: 30rem;
    width: 30rem;
  }
}
.counter__main-countdown-OUTLINE {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom right, var(--darker-black), 90%, var(--light-gray));
  position: absolute;
  top: 0;
  border-radius: 100rem;
  box-shadow: -2rem -2rem 5rem var(--gray-BOX-SHADOW), 1rem 1rem 5rem var(--darker-black);
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter__main-countdown-OUTLINE-INNER {
  height: 36rem;
  width: 36rem;
  border-radius: 100rem;
  background-color: var(--darker-black);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 650px) {
  .counter__main-countdown-OUTLINE-INNER {
    height: 26.78rem;
    width: 26.78rem;
  }
}
.counter__main-countdown-RING {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateZ(270deg);
}
.counter__main-countdown-RING svg {
  height: 100%;
  width: 100%;
}
.counter__main-countdown-RING circle {
  fill: transparent;
  stroke: var(--selected-color);
  stroke-width: 3;
  stroke-linecap: round;
  stroke-dasharray: 251;
  stroke-dashoffset: 0;
}
@media screen and (max-width: 650px) {
  .counter__main-countdown-RING circle {
    stroke-width: 2.5;
  }
}
.counter__main-countdown-READOUT {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.counter__main-countdown-READOUT-TIME {
  font-size: 10rem;
  font-weight: 700;
  color: var(--off-white);
  letter-spacing: -0.5rem;
  margin: 4rem 0 2rem 0;
}
@media screen and (max-width: 650px) {
  .counter__main-countdown-READOUT-TIME {
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: -0.4rem;
  }
}
.counter__main-countdown-READOUT-STATE {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--light-gray);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 650px) {
  .counter__main-countdown-READOUT-STATE {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1.313rem;
  }
}
.counter__main-countdown-READOUT-STATE-INPUT {
  display: none;
}
.counter__main-countdown-READOUT-STATE-INPUT:checked + .counter__main-countdown-READOUT-STATE {
  color: var(--selected-color);
}
.counter__main-countdown-READOUT-STATE-INPUT:checked ~ .counter__main-countdown-READOUT-TIME {
  color: var(--selected-color);
}
.counter__main-countdown-READOUT-STATE:hover {
  color: var(--selected-color);
}
.counter__main-settings {
  height: 2.8rem;
  width: 2.8rem;
}
.counter__main-settings-BUTTON {
  cursor: pointer;
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
}
.counter__main-settings-BUTTON svg {
  fill: #D7E0FF;
}
.counter__main-settings-BUTTON:hover svg {
  fill: var(--selected-color);
}
.counter__main-settings-BUTTON svg {
  height: 100%;
  width: 100%;
}

.settings {
  height: 49rem;
  width: 54rem;
  border-radius: 2rem;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}
@media screen and (max-width: 650px) {
  .settings {
    height: 54.9rem;
    width: 32.7rem;
  }
}
.settings__header {
  width: 100%;
  height: 9.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  position: relative;
}
@media screen and (max-width: 650px) {
  .settings__header {
    height: 7.2rem;
    padding: 0 2.5rem;
  }
}
.settings__header-h2 {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--darker-black);
}
@media screen and (max-width: 650px) {
  .settings__header-h2 {
    font-size: 2rem;
  }
}
.settings__header-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.settings__header-button:hover {
  transform: scale(1.3);
}
@media screen and (max-width: 650px) {
  .settings__header-button {
    height: 1.4rem;
    width: 1.4rem;
  }
}
.settings__header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--darker-black);
  opacity: 0.1;
}
.settings__choices {
  height: 10.9rem;
  width: 46.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2.8rem 0;
}
@media screen and (max-width: 650px) {
  .settings__choices {
    height: 16.6rem;
    width: 32.7rem;
    align-items: center;
    margin: 2.4rem 0;
  }
}
.settings__choices-headline-h3 {
  font-size: 1.3rem;
  letter-spacing: 0.5rem;
  color: var(--darker-black);
  text-transform: uppercase;
}
@media screen and (max-width: 650px) {
  .settings__choices-headline-h3 {
    font-size: 1.1rem;
    letter-spacing: 0.423rem;
  }
}
.settings__choices-dropdowns {
  height: 7rem;
  width: 46.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.2rem;
}
@media screen and (max-width: 650px) {
  .settings__choices-dropdowns {
    height: 13.6rem;
    width: 28rem;
    flex-direction: column;
    margin-top: 1.8rem;
  }
}
.settings__choices-dropdowns-CHOICE {
  height: 7rem;
  width: 14rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 650px) {
  .settings__choices-dropdowns-CHOICE {
    height: 4rem;
    width: 28rem;
    flex-direction: row;
    align-items: center;
  }
}
.settings__choices-dropdowns-CHOICE-LABEL {
  height: 7rem;
  width: 14rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--darker-black);
  opacity: 0.4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 650px) {
  .settings__choices-dropdowns-CHOICE-LABEL {
    height: 4rem;
    width: 28rem;
    flex-direction: row;
    align-items: center;
  }
}
.settings__choices-dropdowns-CHOICE-INPUT {
  height: 4.8rem;
  width: 100%;
  background-color: var(--off-white);
  border-radius: 1rem;
  border: none;
  padding: 1.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--darkish-black);
  position: relative;
}
@media screen and (max-width: 650px) {
  .settings__choices-dropdowns-CHOICE-INPUT {
    height: 4rem;
    width: 14rem;
  }
}
.settings__choices-dropdowns-CHOICE-INPUT::-webkit-outer-spin-button, .settings__choices-dropdowns-CHOICE-INPUT::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.settings__choices-dropdowns-CHOICE-INPUT[type=number] {
  -moz-appearance: textfield;
}
.settings__choices-dropdowns-CHOICE-INPUT-UP-ARROW {
  height: 0.4rem;
  width: 1.2rem;
  position: absolute;
  top: 3.4rem;
  right: 1.6rem;
}
@media screen and (max-width: 650px) {
  .settings__choices-dropdowns-CHOICE-INPUT-UP-ARROW {
    top: 0.8rem;
  }
}
.settings__choices-dropdowns-CHOICE-INPUT-UP-ARROW i {
  color: var(--gray);
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
@media screen and (max-width: 650px) {
  .settings__choices-dropdowns-CHOICE-INPUT-UP-ARROW i {
    font-size: 1.3rem;
  }
}
.settings__choices-dropdowns-CHOICE-INPUT-UP-ARROW i:hover {
  transform: scale(1.2) rotate(360deg);
  color: var(--selected-color);
}
.settings__choices-dropdowns-CHOICE-INPUT-DOWN-ARROW {
  height: 0.4rem;
  width: 1.2rem;
  position: absolute;
  bottom: 2rem;
  right: 1.6rem;
}
@media screen and (max-width: 650px) {
  .settings__choices-dropdowns-CHOICE-INPUT-DOWN-ARROW {
    bottom: 1.55rem;
  }
}
.settings__choices-dropdowns-CHOICE-INPUT-DOWN-ARROW i {
  color: var(--gray);
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
@media screen and (max-width: 650px) {
  .settings__choices-dropdowns-CHOICE-INPUT-DOWN-ARROW i {
    font-size: 1.3rem;
  }
}
.settings__choices-dropdowns-CHOICE-INPUT-DOWN-ARROW i:hover {
  transform: scale(1.2) rotate(360deg);
  color: var(--selected-color);
}
.settings__font {
  height: 9rem;
  width: 46rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 650px) {
  .settings__font {
    height: 11.9rem;
    width: 28rem;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.settings__font::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: var(--darker-black);
  opacity: 0.1;
}
.settings__font::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--darker-black);
  opacity: 0.1;
}
.settings__font-label-h3 {
  font-size: 1.3rem;
  line-height: 1.308rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  color: var(--darker-black);
  text-transform: uppercase;
}
@media screen and (max-width: 650px) {
  .settings__font-label-h3 {
    font-size: 1.1rem;
    letter-spacing: 0.423rem;
  }
}
.settings__font-choices {
  height: 3.8rem;
  width: 15.2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
@media screen and (max-width: 650px) {
  .settings__font-choices {
    height: 4rem;
    width: 15.2rem;
  }
}
.settings__font-choices input {
  display: none;
}
.settings__font-choices input:checked + label {
  background-color: var(--darker-black);
  color: var(--white);
  font-weight: 700;
  animation-name: checked;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.settings__font-choices label {
  height: 4rem;
  width: 4rem;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  background-color: var(--off-white);
  color: var(--darkish-black);
}
.settings__font-choices label:nth-of-type(1) {
  padding-top: 0.2rem;
}
.settings__font-choices label:nth-of-type(2) {
  font-family: var(--roboto-slab);
}
.settings__font-choices label:nth-of-type(3) {
  font-family: var(--space-mono);
  font-weight: 700;
}
.settings__color {
  height: 9rem;
  width: 46rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 650px) {
  .settings__color {
    height: 11.9rem;
    width: 28rem;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.settings__color-label-h3 {
  font-size: 1.3rem;
  line-height: 1.308rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  color: var(--darker-black);
  text-transform: uppercase;
}
@media screen and (max-width: 650px) {
  .settings__color-label-h3 {
    font-size: 1.1rem;
    letter-spacing: 0.423rem;
  }
}
.settings__color-choices {
  height: 3.8rem;
  width: 15.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 650px) {
  .settings__color-choices {
    height: 4rem;
    width: 15.2rem;
  }
}
.settings__color-choices input {
  display: none;
}
.settings__color-choices input:checked + label {
  color: var(--darkish-black);
  animation-name: checked;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.settings__color-choices label {
  height: 4rem;
  width: 4rem;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: var(--redish-orange);
  color: transparent;
}
.settings__color-choices label:nth-of-type(2) {
  background-color: var(--neon-green);
}
.settings__color-choices label:nth-of-type(3) {
  background-color: var(--light-purple);
}
.settings__submit {
  height: 5.3rem;
  width: 14rem;
  border-radius: 100rem;
  background-color: var(--redish-orange);
  color: var(--white);
  transform: translate(-50%, 0%);
  position: absolute;
  bottom: -2.6rem;
  left: 50%;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.settings__submit:hover {
  box-shadow: inset 0 0 20rem var(--light-purple);
  color: var(--darkish-black);
}
.settings-grayBackground {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.5;
}
@media screen and (max-width: 650px) {
  .settings-grayBackground {
    height: 100%;
  }
}

.displayOFF {
  display: none;
}

.hideBELOW {
  transform: translate(-50%, -150rem);
}

.animate {
  animation-name: expandRing;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: initial;
}

@keyframes expandRing {
  0% {
    stroke-dashoffset: 250;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes checked {
  0% {
    transform: scale(1.4) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

/*# sourceMappingURL=style.css.map */
